# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# gradle ignore
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures


# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# svn
.svn

# system ignore
.DS_Store
Thumbs.db

# else
.springBeans
.factorypath
transaction-logs/
spring.log.*